{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">  
  <title> Good Luck Have Fun </title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}"/>

</head>
<body>
    <div class="header">
      <div class="logo">
         <img src="{% static 'image/download.jpg' %}" alt="image errror"/>
      </div>

      <div id="navbar">
        {% if user.is_authenticated %}
          <a> Welcome {{ user }} ! Summoner {{ user.profile.in_game_id }} </a>
          <style type = "text/css">
            html, body {background-image: url({{ championSplash }})}
            input[type=text] {background-image: url({% static 'image/search.png' %});}
          </style>
          <a href="/logout">Log Out</a>
        {% else %}
          <style type = "text/css">
            html, body {background-image: url({% static 'image/main_page.png' %})}
            input[type=text] {background-image: url({% static 'image/search.png' %});}
          </style>
          <a class="active" href="/signup">Sign Up</a>
          <a href="/login">Log In</a>
        {% endif %}
        <form action="/profile/" method="post" accept-charset="utf-8">
          {% csrf_token %}
          <input type="text" name="q" placeholder="Search..">
        </form>
      </div>
    <script>
      window.onscroll = function() {myFunction()};
      var navbar = document.getElementById("navbar");
      var sticky = navbar.offsetTop;

      function myFunction() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky")
        } else {
          navbar.classList.remove("sticky");
        }
      }
    </script>
        <div class="page">
          <div class="vertical-menu">    
              <a href="/" class="active">My Stats</a>
              <a href="/recent/{{ summonerName }}">Recent 5 Matches</a>
              <a href="/follow">Matches Whom I Follow</a>
          </div>

          <div class="content-wrapper">
            <div class="content">
              {% if user.is_authenticated %}
                <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                <h3> List of Recent 5 matches of Your Friends </h3>
                <table>
                {% for item in data %}
                  {% for key, value in item.items %}
                      {{ value }}
                  {% endfor %}
                  <br>
                {% endfor %}
                </table>
                <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

              {% else %}
                <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                <h3>Good Luck Have Fun</h3>

                <p> description goes here </p>

                <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
              {% endif %}
            </div>
          </div>
        </div>
    </div>


  <div class="foot">
    <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
  </div>
</body>    


</html>
