{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>GLHF</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
  <div class="login-page">
      <div class="header">
        <img src="{% static 'image/download.jpg' %}" alt="image errror"/>
      </div>
      <div class="form">
        <form class="login-form" method="post">
          {% csrf_token %}
          {% for field in form %}
            <p>
              <a style="color: green" font="Lucida Console">{{ field.label_tag }}</a>
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {{ field }}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
          <!-- <input type="text" placeholder="name"/>
          <input type="password" placeholder="password"/>
          <input type="text" placeholder="email address"/> -->
          <button type="submit">create</button>
          <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </form>
      </div>
  </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{% static 'js/index.js' %}"></script>
</body>

</html>




<!-- {% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %} -->